<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurants">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrderPlaced"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MyCart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPasswordPage" />
        <activity android:name=".ForgotPasswordPage" />
        <activity android:name=".RegistrationPage" />
        <activity android:name=".LoginPage" />
        <activity
            android:name=".WelcomePage"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>